@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/*Body styling*/
body {
    font-family: "playfair display", serif;
    color: whitesmoke;
    font-weight: 200;
    background-color: rgb(37, 38, 38); 
}
.wrapper1 {
    width:100%;
    margin:0, auto;
}

.logo-nav-container {
    display:flex;
    }

    .logo, .nav-menu {
        height: 75px;px;
        width:100%;
        background-color: rgb(37, 38, 38); 
        line-height:75px;
        
    }

.logo {
    color:whitesmoke;
    letter-spacing: 4px;
    font-weight: 300;
    font-family: "playfair display", serif;
    
    
}


.nav-menu {
    color:whitesmoke;
    letter-spacing: 1px;
    font-weight: 300;

}

a {
    text-decoration: none;
    color:whitesmoke;
}


.nav-menu li {
    float:right;
    list-style-type: none;
    font-size: 110%;
    font-weight: 600;
color:whitesmoke; 
}
/*Hero image styling*/
#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;
    height:450px;
    width:100%;
    background-size: cover;
}
.wrapper2 {
    width:100%;
    margin:0, auto;
}
.about-benefits-container {
    display:flex;
    }
    
    .about, .benefits {
    height: 250px;
    width:50%;
    border:10px;
    margin:10px;
    padding:10px;
    background-color: rgb(37, 38, 38); 
    }

    table {
        
        width:100%;
        margin-left:auto;
        margin-right:auto;
        background-color: gray;
    }

        /*table border code from W3Schools - https://www.w3schools.com/html/html_table_borders.asp*/
    
    table, th, td {
        border: 1px solid whitesmoke;
      }
    
     
      


    










