@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/*Body styling*/
body {
    font-family: "playfair display", serif;
    color: whitesmoke;
    background-color: rgb(37, 38, 38); 
    min-height: 100vh;
   
}


.logo-nav-container {
    display:flex;
    background-color: red;
    width:100%;
        
       
    }
.logo {
    display:inline-flex;
    color:whitesmoke;
    letter-spacing: 4px;
    font-weight: 300;
    font-family: "playfair display", serif;   
    width: 50vw;
    
}

.nav-menu {
    color:whitesmoke;
    letter-spacing: 1px;
    font-weight: 300;
    display:inline-flex;
    justify-content: right;
    width: 50vw;
    

}


a {
    text-decoration: none;
    color:whitesmoke;
}


.nav-menu li {
    list-style-type: none;
    font-size: 110%;
    font-weight: 600;
color:whitesmoke; 
padding-left: 5px;
padding-right:5px;
display:inline-flex;
    justify-content: right;
    

}

h2 {
    font-weight: 300;
    text-align: center;
}
/*Hero image styling*/
#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;
    height:450px;
    width:100%;
    background-size: cover;
}

.about-benefits-container {
    display:flex;
    background-color: blueviolet;
        width:100%;
    }
    
    .about {
        background-color: blue;
        height: 250px;
    width:50vw;
    border:10px;
    margin:10px;
    padding:10px;
    }
.benefits {
    background-color: red;
    height: 250px;
    width:50vw;
    border:10px;
    margin:10px;
    padding:10px;
    
}
.benefits li {
    display: list-item;
    list-style-type: none;
color:whitesmoke; 
padding-left: 5px;
padding-right:5px;

    justify-content: right;
}

#footer ul {
    margin:0;
        border:0;
        padding:0;
}
    #footer li {
        
        display: table;
        
             }

    .footer-container {
        display:flex;
        width:100%;}

        .facebook {
            display:inline-flex;
            color:whitesmoke;
            letter-spacing: 4px;
            font-weight: 300;
            font-family: "playfair display", serif;   
            width: 25%;
            justify-content:center;
        }

        .insta {
            display:inline-flex;
            color:whitesmoke;
            letter-spacing: 4px;
            font-weight: 300;
            font-family: "playfair display", serif;  
            width: 25%;
            justify-content:center;
        }    

        .twitter {
            display:inline-flex;
            color:whitesmoke;
            letter-spacing: 4px;
            font-weight: 300;
            font-family: "playfair display", serif;   
            width:25%;
            justify-content:center;
        }      
        .youtube {
            display:inline-flex;
            color:whitesmoke;
            letter-spacing: 4px;
            font-weight: 300;
            font-family: "playfair display", serif;   
            width:25%;
            justify-content:center;
        }     
            

    table {
        
        width:100%;
        margin-left:auto;
        margin-right:auto;
        background-color: gray;
    }

        /*table border code from W3Schools - https://www.w3schools.com/html/html_table_borders.asp*/
    
    table, th, td {
        border: 1px solid whitesmoke;
      }
    
     
      


    










