@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/*Body styling*/
body {
    font-family: "playfair display", serif;
    color: whitesmoke;
    background-color: rgb(37, 38, 38);
    min-height: 100vh;
    border: 0;
    margin: 0;
    padding: 0;

}

h1 {
    padding-left: 20px;
}


.logo-nav-container {
    display: flex;
    background-color: red;
    width: 100%;
    flex-grow: 1;


}

.logo {
    display: inline-flex;
    color: whitesmoke;
    letter-spacing: 4px;
    font-weight: 300;
    font-family: "playfair display", serif;
    flex-grow: 1;

}

.nav-menu {
    color: whitesmoke;
    letter-spacing: 1px;
    font-weight: 300;
    display: inline-flex;
    justify-content: right;



}



a {

    text-decoration: none;
    color: whitesmoke;

}

a:hover {
    background-color: aqua;
}

/*active link code taken from love running project*/

.active-link {
    border-bottom: 1px solid whitesmoke;
}





.nav-menu li {
    list-style-type: none;
    font-size: 110%;
    font-weight: 600;
    color: whitesmoke;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-flex;
    justify-content: right;


}

h2 {
    font-weight: 300;
    text-align: center;
}

/*Hero image styling*/
#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;
    height: 450px;
    width: 100%;
    background-size: cover;
}

#hero-image p {
    letter-spacing: 1px;
    font-size: 200%;
    padding-top: 80px;
    padding-left:140px;
    
}

.about-benefits-container {
    display: flex;
    background-color: blueviolet;
    width: 100%;
}

.about {
    background-color: blue;
    width: 46vw;
    border: 10px;
    margin: 10px;
    padding: 10px;


}

.benefits {
    background-color: red;
    width: 46vw;
    border: 10px;
    margin: 10px;
    padding: 10px;


}

.benefits li {
    display: list-item;
    list-style-type: none;
    color: whitesmoke;
    padding-left: 5px;
    padding-right: 5px;

    justify-content: right;
}

@media screen and (max-width:1000px) {
    .about-benefits-container {
        display: flex;
        flex-direction: column;
        background-color: green;
        width: 100%;
        padding: 0;
    }

    .about, .benefits {
        width:88%;
        margin: 1rem auto;
    }




}

.form {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.form textarea {
    max-width: 80%;
}

#footer{
    background: black;
    padding: 20px;
}
#footer ul {
    margin: 0;
    border: 0;
    padding: 0;
}

#footer li {
   margin: 0 2rem;
}
.footer-container {
    display: flex;
    width: 100%;
}

.footer-container ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
}

.facebook, .insta, .twitter, .youtube {
    color: whitesmoke;
    letter-spacing: 4px;
    font-weight: 300;
    font-family: "playfair display", serif;

}



table {

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
}

/*table border code from W3Schools - https://www.w3schools.com/html/html_table_borders.asp*/

table,
th,
td {
    border: 1px solid whitesmoke;
}